numpy
pandas
scikit-learn
nltk
spacy
beautifulsoup4
num2words
youtube-transcript-api
language-tool-python
pyspellchecker
transformers
openpyxl
sentencepiece
accelerate
tensorflow==2.8.0
tensorflow_datasets
matplotlib
seaborn
tf_keras
datasets
rouge_score 
sacrebleu